# Dossiers et fichiers générés par Python
__pycache__/
*.pyc
*.pyo

# Dossier virtuel Python (venv)
venv/

# Dossiers générés par Django
db.sqlite3

# Fichiers de migrations hors __init__.py
*/migrations/*
!*/migrations/__init__.py

# Fichier .env (contient des informations sensibles, ne doit pas être versionné)
.env

# Fichiers spécifiques à VS Code
.vscode/
.vscode-server/
.vscode-test/

# Fichiers temporaires générés par l'éditeur
*~

# Dossiers et fichiers de sauvegarde
backup*/
.svn/
.svnignore
.idea/
*.bak

# Dossiers et fichiers de logs
logs/
*.log

# Dossiers de fichiers générés par les tests
htmlcov/
.coverage
.tox/
.coverage.*

# Dossier de fichiers statiques collectés (généré par Django collectstatic)
staticfiles/

# Fichiers de sauvegarde de bases de données SQLite
*.sqlite3-journal

# Dossiers et fichiers générés par des outils spécifiques à Python
pyenv/
pip-selfcheck.json

# Cache de l'éditeur Jupyter Notebook
.ipynb_checkpoints/

# Fichiers de sortie du système de gestion de versions
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
